<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>test</title>

    <script src="../htdocs/static/lib/jquery-3.3.1.min.js"></script>
    <script src="../htdocs/static/js/home.js"></script>
    <style>
        /**{*/
            /*margin: 0;*/
            /*padding: 0;*/
            /*border: 0;*/
            /*box-sizing:border-box;*/
        /*}*/
        /*#div{height: 500px; width: 100%;}*/
        /*#div1{float: left;width: 20%; height: 100%; background-color: #99ff60;}*/
        /*#div2{float: left; width: 60%; height: 100%; background-color: #99ccff;}*/
        /*#div3{float: right; width: 20%; height: 100%; background-color: #ccff66;}*/
    </style>
</head>
<body>
<!--<div id="div">-->
    <!--<div id="div1"></div>-->
    <!--<div id="div2"></div>-->
    <!--<div id="div3"></div>-->
<!--</div>-->


</body>
</html>